{% extends "orders/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="display: flex">
        <div class="col-sm-3 list-group">
            <h2>Toppings</h2>
            <Select multiple size="5">
                {% for top in toppings %}
                    <option class="list-group-item" value="{{ top }}">
                        {{ top }}
                    </option>
                {% endfor %}    
            </Select>
        </div>
        <div class="col-md-4">
            <h2>Subs</h2>
                {% for sub in subs %}
                    <li>
                        {{ sub }}
                    </li>
                {% endfor %}
        </div>
        <div class="col-md-4">
            <h2>Sub Extras</h2>
                {% for extra in subExtras %}
                    <li>
                        {{ extra }}
                    </li>
                {% endfor %}
        </div>
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Order a Pizza</legend>
                {{ form|crispy }}
            </fieldset>
        </form>
    </div>
{% endblock content%}